@use 'variables';
@use 'mixins';

.early-access{
    background-color: variables.$Desaturated-Blue;
    color: variables.$Light-Gray;
    padding: 58px 62px 69px 38px;
    @include mixins.section-desktop-view(244px,false);
    &__title{
        text-align: center;
        margin-bottom: 28px;
    }
    &__description{
        text-align: center;
        font-size: 0.9em;
        margin-bottom: 28px;
    }
    &__form{
        @include mixins.form;
    }
}

@media (min-width:990px){
    .early-access{
        &__title{
            text-align: left;
        }
        &__description{
            text-align: left;
        }
        &__form{
            width: 484px;
            input[type="submit"]{
                width: 50%;
                font-size: 0.8em;
            }
        }
    }
}